body {
  padding: 0;
  margin: 0;
  font-family: "Salsa";
}
.background {
  background-image: url("../resources/sublet-background.png");
  height: 100vh;
  width: 100%;
  background-position: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.sublet-title-text {
  color: white;
  text-align: center;
  font-size: 48px;
}
.sublet-subtitle-text {
  color: white;
  text-align: center;
  font-size: 24px;
  margin-top: 10px;
}
.sublet-button {
  text-align: center;
  border: 1px #016afd solid;
  background-color: #016afd;
  margin-top: 20px;
  margin-right: 20px;
  width: 150px;
  border-radius: 10px;
  padding: 15px 30px;
  color: white;
  text-decoration: none;
}
.sublet-button:hover {
  cursor: pointer;
}
.choose-listing-type {
  display: flex;
}
