body {
  font-family: Salsa;
  padding: 0;
  margin: 0;
  background-color: #fbfbfb;
}
.back-arrow {
  height: 12px;
}
.my-properties-back {
  margin: 20px 200px;
}
.horizontal-box {
  display: flex;
}
.listing-info {
  background-color: #fdfdfd;
  box-shadow: 0px 0px 1px;
  margin-left: 200px;
  margin-right: 200px;
  margin-top: 20px;
  margin-bottom: 50px;
  padding: 10px 50px 40px 50px;
}
.properties-page {
  text-decoration: none;
  color: black;
}
.properties-page:hover {
  cursor: pointer;
}
.listing-info-header-text {
  font-size: 24px;
  margin-bottom: 16px;
  margin-top: 20px;
}
.horizontal-flex-grow {
  margin-left: 20px;
}
.horizontal-flex-grow-prefs {
  margin-left: 60px;
}
.property-detail-field {
  margin-top: 10px;
}
.publish-listing {
  text-decoration: none;
  text-align: center;
  display: block;
  margin-top: 30px;
  background-color: #016afd;
  color: white;
  padding: 10px;
  border-radius: 10px;
}
input,
textarea {
  margin-top: 5px;
  padding: 5px 5px;
  background-color: #f1f1f1;
  border: 2px solid #d9d9d9;
  border-radius: 5px;
}
.property-description {
  height: 100px;
  width: 65%;
}
